@charset "UTF-8";

.resume {
  display: flex;
  min-height: 100vh;
}

.left-column {
  width: 30%;
  padding-right: 20px;
  min-height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  padding-left: 20px;
}

.left-column h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.left-column ul {
  list-style: none;
  padding-left: 0;
}

.left-column ul li {
  margin-bottom: 10px;
}

.left-column ul li:not(:last-child) {
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
}

.right-column {
  width: 70%;
  padding-left: 20px;
}

.heading {
  margin-bottom: 20px;
}

.heading h2 {
  font-size: 24px;
}

.heading h1 {
  font-size: 36px;
  color: #333;
}

.work-experience {
  line-height: 45px;
}

.work-experience h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.work-experience ul {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.work-experience ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.work-experience ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 100%;
  background-color: blue;
}

.work-experience ul li::before {
  content: "\2022";
  position: absolute;
  top: 0;
  left: -9px;
  color: black;
  font-size: 25px;
}

.work-experience .location::after {
  content: "";
  display: block;
  border-bottom: 2px solid blue;
  margin-top: 5px;
  width: 80%;
}

.bx {
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  .heading {
    line-height: 30px;
  }
  .resume {
    line-height: 35px;
    font-size: 12px;
    line-height: 15px;
  }
  .left-column {
    width: 100%;
    min-width: 150px;
    padding: 0 20px;
  }
  .right-column {
    width: 100%;
    padding: 0 20px;
  }
  .about-me {
    display: none;
  }
  .work-experience li {
    line-height: 20px;
  }
  footer {
    display: none;
  }
}

@media print {
  @page {
    margin: 0;
  }
  header {
    display: none;
  }
  footer {
    display: none;
  }
}